/* Alba Matamoros Morales */

/* ---------------------- */
/* -- CONTROL D'ERRORS --*/
/* ---------------------- */

:root {
    --errorBackground: #f8d7da;
    --errorBorder: #920d1b;
    --errorHover: #c11022;
    --correcteBackground: #8be985;
    --correcteBorder: #1f741a;
}

/* ERROR */
.error-container {
    background-color: var(--errorBackground);
    color: var(--colorGrisOscuro);
    border: 1px solid var(--errorBorder);
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* CORRECTE */
.success-container {
    background-color: var(--correcteBackground);
    color: var(--colorGrisOscuro);
    border: 1px solid var(--correcteBorder);
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* ESTILS */
.error-icon, .success-icon {
    margin-right: 10px;
    font-size: 20px;
}

.error-message, .success-message {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

/* ----------------------------------*/
/* -- ERRORS PAGINAS 404, 403, 500 -- */
/* ----------------------------------*/

/* ESTIL PÀGINA ERROR 404 */

.error-container-pagina {
    background-color: var(--colorBlanco);
    border-color: var(--errorBackground);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
    transform: translateY(20px);
    animation: slideUp 0.8s ease-out;
}

@keyframes slideUp {
    0% { transform: translateY(30px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

.error-container-pagina h1 {
    font-size: 100px;
    margin-bottom: 15px;
    color: var(--errorBackground);
    font-weight: bold;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    animation: jump 1s ease-in-out infinite;
}

@keyframes jump {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

.error-container-pagina p {
    font-size: 18px;
    color: var(--colorGrisOscuro);
    margin-bottom: 25px;
    font-weight: 300;
    animation: fadeInUp 1.2s ease-out;
}

@keyframes fadeInUp {
    0% { opacity: 0; transform: translateY(30px); }
    100% { opacity: 1; transform: translateY(0); }
}

.error-container-pagina a {
    position: relative;
    display: inline-block;
    padding: 14px 30px;
    font-size: 18px;
    color: var(--colorBlanco);
    background-color: var(--colorGrisOscuro);
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s ease;
}

.error-container-pagina a:hover {
    background-color: var(--errorHover);
    transform: scale(1.05);
}

.error-container-pagina a:active {
    background-color: var(--errorBorder);
    transform: scale(0.98);
}

