/* Alba Matamoros Morales */

/* -------------------- */
/* -- BARRA SUPERIOR --*/
/* --------------------*/

elemento {
    --main-bg-color: #333;
}

body {
    background-image: url("../vista/imatges/wallpaper2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
    z-index: 1000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.);
}

nav a {
    text-decoration: none;
    color: white;
    background-color: #333;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
}

nav a:hover {
    background-color: #555;
}

nav .left {
    display: flex;
    gap: 15px;
}

nav .perfil {
    position: relative;
}

nav .perfil .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 1);
    z-index: 1;
}

nav .perfil:hover .dropdown-content {
    display: block;
}

nav .perfil .dropdown-content a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    background-color: #333;
}

nav .perfil .dropdown-content a:hover {
    background-color: #555;
}

/*-------------------------*/
/*--- CONTENIDO PAGINA ---*/
/*------------------------*/

/* Ajustar contenido principal */
.content {
    margin-top: 9rem; /* Ajusta este valor según la altura de tu barra (10px padding + 60px aprox.) */
    padding: 20px; /* Para dar espacio dentro del contenido */
}

/* --------------------- */
/* --- USUARI IMATGE --- */
/* --------------------- */

.perfil .user-avatar {
    width: 40px; /* Ajusta el tamaño de la imagen */
    height: 40px;
    border-radius: 50%; /* Hace la imagen redonda */
    object-fit: cover; /* Asegura que la imagen se recorte correctamente */
    margin-right: 8px; /* Espacio entre la imagen y el nombre */
    vertical-align: middle; /* Alinea la imagen con el texto */
}

/* -------------------------------------- */
/* -------- ADMINISTRAR USUARIOS -------- */
/* -------------------------------------- */

.content-usuaris {
    margin-top: 30rem; /* Ajusta este valor según la altura de tu barra (10px padding + 60px aprox.) */
    padding: 20px; /* Para dar espacio dentro del contenido */
}
